body {
  background-color: yellow;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}
td {
  border: 2px solid brown;
  padding: 0px;
}
.mypht {
  width: 50%;
  padding-right:0;
}
