body {
  background-color: yellow;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}
td {
  width: 50%;
  border: 2px solid brown;
  margin: 50px 20px;
}
table {
  width: 50%;
}
.mypht {
  padding: 50px
}
