body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}
td {
  border: 2px solid brown;
}
img{
  width:120px;
}
.mypht {
  width: 100px;
}
